<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RemoteFork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RemoteFork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <userSettings>
    <RemoteFork.Properties.Settings>
      <setting name="ServerAutoStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IpIPAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="Dlna" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DlnaFilterType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Plugins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36</value>
      </setting>
      <setting name="DlnaDirectories" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="EnablePlugins" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="DlnaFileExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="UserUrls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="THVPAutoStart" serializeAs="String">
        <value>True</value>
      </setting>
    </RemoteFork.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <RemoteFork.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value>8027</value>
      </setting>
    </RemoteFork.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/logs/remotefork.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}" archiveFileName="${basedir}/logs/archive/remotefork.{#}.log" archiveDateFormat="yyyy-MM-dd" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="10" encoding="utf-8"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file"/>
    </rules>
  </nlog>
</configuration>
