
@{
    ViewData["Title"] = "Plugins";
}

@model PluginsModel

<form asp-controller="Home" asp-action="Plugins" method="post">
    <div>
        <div>
            <input id="Enable" type="checkbox" name="Enable" asp-for="Enable" /> <label for="Enable">Включить плагины</label>
        </div>
        <hr />
        <div class="container">
            @using (Html.BeginForm("Index", "Home")) {
            foreach (var item in Model.Plugins) {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="EnablePlugins"
                               value="@item.Value" 
                               @if(Model.EnablePlugins.Contains(item.Value)){<text>checked="checked"</text>}/> @item.Text
                        </label>
                    </div>
            }
        }
        </div>
        <hr />
        <div>
            <input id="ResetSettings" type="reset" value="Отмена" /><input id="ReimportPlugins" type="button" value="Обновить" onclick="location.href='@Url.Action("Plugins", "Home")?action=reimport'"/><input id="SubmitSettings" type="submit" value="Сохранить" />
        </div>
    </div>
</form>