
@{
    ViewData["Title"] = "User links";
}

@model UserLinksModel

<form asp-controller="Home" asp-action="UserLinks" method="post">
    <div>
        <div>
            <textarea id="Links" rows="20" cols="20" style="width: 100%" asp-for="Links"></textarea>
        </div>
        <div>
            <input id="ResetSettings" type="reset" value="Отмена" /><input id="SubmitSettings" type="submit" value="Сохранить" />
        </div>
    </div>
</form>
